@use "sass:math";
@use "_mixins.scss" as *;

//========================================================================================================================================
.title {
   font-size: toRem(28);
   font-weight: 700;
   line-height: 1.36;
   margin-block-end: toRem(16);
}
//========================================================================================================================================

//========================================================================================================================================

//========================================================================================================================================

//========================================================================================================================================

//========================================================================================================================================

//========================================================================================================================================

//========================================================================================================================================

//========================================================================================================================================

//========================================================================================================================================

//========================================================================================================================================

//========================================================================================================================================

//====================================================================================================================================================

@media (max-width: toEm($pc)) {
}

//========================================================================================================================================

@media (max-width: toEm($tablet)) {
}

//========================================================================================================================================

@media (max-width: toEm($mobile)) {
}

//========================================================================================================================================

@media (max-width: toEm($mobileSmall)) {
}

//========================================================================================================================================
